
<body style="background-color:powderblue;"></body>
<p>
  <ul style="width: 15%;height: 100%;margin: 0;padding: 0;background-color: rgb(192, 171, 157);position: fixed;">
      <h3>Navigation Bar</h3>
      <li><a href="home.html">Homepage</a></li>
      <li><a href="books.html">Books</a></li>
      <li><a href="contact.html">Contact us</a></li>
      <li><a href="surveypage.html">Survey</a></li>
  </ul>
</p>
<style>
  h1 {text-align: center;}
  p {text-align: center;}

  </style>
<h1>List of the books we have </h1>

<div style="margin-left: 20%; display: grid; float: left;">
  <p1><image src="chickenlicken.jpg" width="150" height="200" />  <a href="Chicken Licken1.html">
    
   </a><br />
  <br /><image src="lifeofpi.jpg" width="150" height="200" /> <a href="lifeofpi.html">
   
  </a><br/>


  <br /><p3><image src="count.jpg" width="150" height="200" /> <a href="count.html">
    
    </a>
</div> 

<div style="display: grid;">
  <a style="margin-bottom: 200px;" href="book1.html"><h3>Chicken Licken</h3></a>
  <a style="margin-bottom: 200px;" href="book2.html"><h3>Life of Pi</h3></a>
  <a href="book3.html"><h3>Count of Monte Cristo</h3></a>
</div>


