<p>
    <ul style="width: 15%;height: 100%;margin: 0;padding: 0;background-color: rgb(192, 171, 157);position: fixed;">
        <h3>Navigation Bar</h3>
        <li><a href="home.html">Homepage</a></li>
        <li><a href="books.html">Books</a></li>
        <li><a href="contact.html">Contact us</a></li>
        <li><a href="surveypage.html">Survey</a></li>
    </ul>
  </p>


<body style="background-color:powderblue;"></body>
<div style="margin-left: 20%;float:left;">
<h1><image style="float:left" src="lifeofpi.jpg" width="200" height="350" /> Life of Pi</h1>


<p1>After deciding to sell their zoo in India and move to Canada, Santosh and Gita Patel board a freighter with their sons and a few remaining animals. 
Tragedy strikes when a terrible storm sinks the ship, leaving the Patels' teenage son, Pi (Suraj Sharma), as the only human survivor</p1>
</div>
