<body style="background-color:powderblue;"></body>
<p>
  <ul style="width: 15%;height: 100%;margin: 0;padding: 0;background-color: rgb(192, 171, 157);position: fixed;">
      <h3>Navigation Bar</h3>
      <li><a href="home.html">Homepage</a></li>
      <li><a href="books.html">Books</a></li>
      <li><a href="contact.html">Contact us</a></li>
      <li><a href="surveypage.html">Survey</a></li>
  </ul>
</p>
<div style="margin-left: 20%;float: left;">
<h1><image style="float:left" src="chickenlicken.jpg" width="150" height="350" /> Chicken Licken</h1>
<p1>Chicken Licken believes the sky is falling down and the world is going to end when an acorn falls on his head and decides to go and tell the king.<br /> Along the way he meets others such as Ducky Lucky, Heny Penny, Goosey Loosey, Turkey Lurkey ... then at the end they meet Foxy Loxy who invites them into his lair....</p1>
</div>


